<form name="addMovieForm" novalidate class="addMovieForm">
  <input type="text" ng-model="formData.movieTitle" name="movieName" placeholder="Movie title" required=""/><br />

  <input type="text" ng-model="formData.description" placeholder="Movie description" required=""/><br />
  <input type="radio" ng-model="formData.genre" value="romance" />Romance
  <input type="radio" ng-model="formData.genre" value="thriller" />Thriller
  <input type="radio" ng-model="formData.genre" value="Sci-fi" />Sci-fi<br />
  <div class="image" ng-repeat="image in formData.images">{{image.name}}
    <img class="thumbnail" src="data:image/png;base64,{{image.data}}"/>
    <span class="removeButton" ng-click="removeImage(image.name)">x</span>
  </div>

  <input type='file' ng-model="formData.test" onchange="angular.element(this).scope().uploadImage(this.files)"/>

  <input type="button" ng-click="reset()" value="Reset" />
  <input type="submit" ng-click="addMovie(formData)" value="Save" />
</form>
<img id="imageContainer" style="display: none"/>
