<div class="container">
  
  <div ng-repeat="movie in movieList" class="post">
    <div class="title">{{movie.movieTitle}}</div>
    <img class="image" ng-repeat="image in movie.images" src="data:image/png;base64,{{image.data}}" title="{{image.name}}"/>
    <div class="description">{{movie.description}}</div>
    <div ng-if="movie.genre" class="category">{{movie.genre}}</div>
    <div class="interaction" ng-click="modify(movie.id)">Modify</div>
    <div class="interaction" ng-click="delete(movie.id)">Delete</div>
  </div>
  
</div>